In [1]:
import polars as pl

In [2]:
df=pl.read_csv('data/titanic_dataset.csv')

In [3]:
df.with_columns(pl.col('Fare').max().alias('Max Fare'))

shape: (891, 13)
┌─────────────┬──────────┬────────┬────────────────────┬───┬─────────┬───────┬──────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ Max Fare │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ f64     ┆ str   ┆ str      ┆ f64      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪═════════╪═══════╪══════════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen   ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Harris             ┆   ┆         ┆       ┆          ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 512.3292 │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆         ┆       ┆          ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.   ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Laina              ┆   ┆         ┆       ┆          ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆         ┆       ┆          ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Henry              ┆   ┆         ┆       ┆          ┆          │
│ …           ┆ …        ┆ …      ┆ …                  ┆ … ┆ …       ┆ …     ┆ …        ┆ …        │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.     ┆ … ┆ 13.0    ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Juozas             ┆   ┆         ┆       ┆          ┆          │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.      ┆ … ┆ 30.0    ┆ B42   ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Margaret Edith     ┆   ┆         ┆       ┆          ┆          │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.    ┆ … ┆ 23.45   ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Catherine Hele…    ┆   ┆         ┆       ┆          ┆          │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl     ┆ … ┆ 30.0    ┆ C148  ┆ C        ┆ 512.3292 │
│             ┆          ┆        ┆ Howell             ┆   ┆         ┆       ┆          ┆          │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.        ┆ … ┆ 7.75    ┆ null  ┆ Q        ┆ 512.3292 │
│             ┆          ┆        ┆ Patrick            ┆   ┆         ┆       ┆          ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴─────────┴───────┴──────────┴──────────┘

In [4]:
df.with_columns(max_fare=pl.col('Fare').max()).head()

shape: (5, 13)
┌─────────────┬──────────┬────────┬────────────────────┬───┬─────────┬───────┬──────────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ max_fare │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ f64     ┆ str   ┆ str      ┆ f64      │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪═════════╪═══════╪══════════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen   ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Harris             ┆   ┆         ┆       ┆          ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 512.3292 │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆         ┆       ┆          ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.   ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Laina              ┆   ┆         ┆       ┆          ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆         ┆       ┆          ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 512.3292 │
│             ┆          ┆        ┆ Henry              ┆   ┆         ┆       ┆          ┆          │
└─────────────┴──────────┴────────┴────────────────────┴───┴─────────┴───────┴──────────┴──────────┘

In [5]:
df.with_columns(pl.col('Fare').max()).head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬──────────────────┬───┬───────────┬──────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Ticket    ┆ Fare     ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---       ┆ ---      ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ str       ┆ f64      ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═══════════╪══════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ A/5 21171 ┆ 512.3292 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris           ┆   ┆           ┆          ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ PC 17599  ┆ 512.3292 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley     ┆   ┆           ┆          ┆       ┆          │
│             ┆          ┆        ┆ (Fl…             ┆   ┆           ┆          ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ STON/O2.  ┆ 512.3292 ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina            ┆   ┆ 3101282   ┆          ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 113803    ┆ 512.3292 ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆           ┆          ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 373450    ┆ 512.3292 ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry    ┆   ┆           ┆          ┆       ┆          │
└─────────────┴──────────┴────────┴──────────────────┴───┴───────────┴──────────┴───────┴──────────┘

In [6]:
df.with_columns((pl.col('Fare').max() - pl.col('Fare').mean()).alias('Max Fare - Avg Fare')).head()

shape: (5, 13)
┌─────────────┬──────────┬────────┬──────────────────┬───┬─────────┬───────┬──────────┬────────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name             ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ Max Fare - │
│ ---         ┆ ---      ┆ ---    ┆ ---              ┆   ┆ ---     ┆ ---   ┆ ---      ┆ Avg Fare   │
│ i64         ┆ i64      ┆ i64    ┆ str              ┆   ┆ f64     ┆ str   ┆ str      ┆ ---        │
│             ┆          ┆        ┆                  ┆   ┆         ┆       ┆          ┆ f64        │
╞═════════════╪══════════╪════════╪══════════════════╪═══╪═════════╪═══════╪══════════╪════════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ 480.124992 │
│             ┆          ┆        ┆ Harris           ┆   ┆         ┆       ┆          ┆            │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ 480.124992 │
│             ┆          ┆        ┆ John Bradley     ┆   ┆         ┆       ┆          ┆            │
│             ┆          ┆        ┆ (Fl…             ┆   ┆         ┆       ┆          ┆            │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ 480.124992 │
│             ┆          ┆        ┆ Laina            ┆   ┆         ┆       ┆          ┆            │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ 480.124992 │
│             ┆          ┆        ┆ Jacques Heath (… ┆   ┆         ┆       ┆          ┆            │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.       ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ 480.124992 │
│             ┆          ┆        ┆ William Henry    ┆   ┆         ┆       ┆          ┆            │
└─────────────┴──────────┴────────┴──────────────────┴───┴─────────┴───────┴──────────┴────────────┘

In [7]:
df.with_columns(pl.lit('Titanic')).head()

shape: (5, 13)
┌─────────────┬──────────┬────────┬─────────────────────┬───┬─────────┬───────┬──────────┬─────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name                ┆ … ┆ Fare    ┆ Cabin ┆ Embarked ┆ literal │
│ ---         ┆ ---      ┆ ---    ┆ ---                 ┆   ┆ ---     ┆ ---   ┆ ---      ┆ ---     │
│ i64         ┆ i64      ┆ i64    ┆ str                 ┆   ┆ f64     ┆ str   ┆ str      ┆ str     │
╞═════════════╪══════════╪════════╪═════════════════════╪═══╪═════════╪═══════╪══════════╪═════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen    ┆ … ┆ 7.25    ┆ null  ┆ S        ┆ Titanic │
│             ┆          ┆        ┆ Harris              ┆   ┆         ┆       ┆          ┆         │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John  ┆ … ┆ 71.2833 ┆ C85   ┆ C        ┆ Titanic │
│             ┆          ┆        ┆ Bradley (Fl…        ┆   ┆         ┆       ┆          ┆         │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.    ┆ … ┆ 7.925   ┆ null  ┆ S        ┆ Titanic │
│             ┆          ┆        ┆ Laina               ┆   ┆         ┆       ┆          ┆         │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.      ┆ … ┆ 53.1    ┆ C123  ┆ S        ┆ Titanic │
│             ┆          ┆        ┆ Jacques Heath (…    ┆   ┆         ┆       ┆          ┆         │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William  ┆ … ┆ 8.05    ┆ null  ┆ S        ┆ Titanic │
│             ┆          ┆        ┆ Henry               ┆   ┆         ┆       ┆          ┆         │
└─────────────┴──────────┴────────┴─────────────────────┴───┴─────────┴───────┴──────────┴─────────┘

In [8]:
df.with_row_index().head()

shape: (5, 13)
┌───────┬─────────────┬──────────┬────────┬───┬──────────────────┬─────────┬───────┬──────────┐
│ index ┆ PassengerId ┆ Survived ┆ Pclass ┆ … ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---   ┆ ---         ┆ ---      ┆ ---    ┆   ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ u32   ┆ i64         ┆ i64      ┆ i64    ┆   ┆ str              ┆ f64     ┆ str   ┆ str      │
╞═══════╪═════════════╪══════════╪════════╪═══╪══════════════════╪═════════╪═══════╪══════════╡
│ 0     ┆ 1           ┆ 0        ┆ 3      ┆ … ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│ 1     ┆ 2           ┆ 1        ┆ 1      ┆ … ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│ 2     ┆ 3           ┆ 1        ┆ 3      ┆ … ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│ 3     ┆ 4           ┆ 1        ┆ 1      ┆ … ┆ 113803           ┆ 53.1    ┆ C123  ┆ S        │
│ 4     ┆ 5           ┆ 0        ┆ 3      ┆ … ┆ 373450           ┆ 8.05    ┆ null  ┆ S        │
└───────┴─────────────┴──────────┴────────┴───┴──────────────────┴─────────┴───────┴──────────┘

In [9]:
df.with_columns(pl.col('Sex').str.to_titlecase()).head()

shape: (5, 12)
┌─────────────┬──────────┬────────┬───────────────────┬───┬───────────┬─────────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name              ┆ … ┆ Ticket    ┆ Fare    ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---               ┆   ┆ ---       ┆ ---     ┆ ---   ┆ ---      │
│ i64         ┆ i64      ┆ i64    ┆ str               ┆   ┆ str       ┆ f64     ┆ str   ┆ str      │
╞═════════════╪══════════╪════════╪═══════════════════╪═══╪═══════════╪═════════╪═══════╪══════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen  ┆ … ┆ A/5 21171 ┆ 7.25    ┆ null  ┆ S        │
│             ┆          ┆        ┆ Harris            ┆   ┆           ┆         ┆       ┆          │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs.     ┆ … ┆ PC 17599  ┆ 71.2833 ┆ C85   ┆ C        │
│             ┆          ┆        ┆ John Bradley (Fl… ┆   ┆           ┆         ┆       ┆          │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.  ┆ … ┆ STON/O2.  ┆ 7.925   ┆ null  ┆ S        │
│             ┆          ┆        ┆ Laina             ┆   ┆ 3101282   ┆         ┆       ┆          │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.    ┆ … ┆ 113803    ┆ 53.1    ┆ C123  ┆ S        │
│             ┆          ┆        ┆ Jacques Heath (…  ┆   ┆           ┆         ┆       ┆          │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr.        ┆ … ┆ 373450    ┆ 8.05    ┆ null  ┆ S        │
│             ┆          ┆        ┆ William Henry     ┆   ┆           ┆         ┆       ┆          │
└─────────────┴──────────┴────────┴───────────────────┴───┴───────────┴─────────┴───────┴──────────┘

In [12]:
df.drop(['Pclass','Name','Parch','Ticket','Cabin','Embarked']).head()

shape: (5, 6)
┌─────────────┬──────────┬────────┬──────┬───────┬─────────┐
│ PassengerId ┆ Survived ┆ Sex    ┆ Age  ┆ SibSp ┆ Fare    │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆ ---   ┆ ---     │
│ i64         ┆ i64      ┆ str    ┆ f64  ┆ i64   ┆ f64     │
╞═════════════╪══════════╪════════╪══════╪═══════╪═════════╡
│ 1           ┆ 0        ┆ male   ┆ 22.0 ┆ 1     ┆ 7.25    │
│ 2           ┆ 1        ┆ female ┆ 38.0 ┆ 1     ┆ 71.2833 │
│ 3           ┆ 1        ┆ female ┆ 26.0 ┆ 0     ┆ 7.925   │
│ 4           ┆ 1        ┆ female ┆ 35.0 ┆ 1     ┆ 53.1    │
│ 5           ┆ 0        ┆ male   ┆ 35.0 ┆ 0     ┆ 8.05    │
└─────────────┴──────────┴────────┴──────┴───────┴─────────┘

In [14]:
df.select(['PassengerId','Survived','Sex','Fare']).head()

shape: (5, 4)
┌─────────────┬──────────┬────────┬─────────┐
│ PassengerId ┆ Survived ┆ Sex    ┆ Fare    │
│ ---         ┆ ---      ┆ ---    ┆ ---     │
│ i64         ┆ i64      ┆ str    ┆ f64     │
╞═════════════╪══════════╪════════╪═════════╡
│ 1           ┆ 0        ┆ male   ┆ 7.25    │
│ 2           ┆ 1        ┆ female ┆ 71.2833 │
│ 3           ┆ 1        ┆ female ┆ 7.925   │
│ 4           ┆ 1        ┆ female ┆ 53.1    │
│ 5           ┆ 0        ┆ male   ┆ 8.05    │
└─────────────┴──────────┴────────┴─────────┘

In [15]:
best_practice=(df.with_columns(
    pl.col('Fare').max().alias('Max Fare'),
    pl.lit('Titanic'),
    pl.col('Sex').str.to_titlecase()
))

In [16]:
best_practice

shape: (891, 14)
┌─────────────┬──────────┬────────┬────────────────────┬───┬───────┬──────────┬──────────┬─────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name               ┆ … ┆ Cabin ┆ Embarked ┆ Max Fare ┆ literal │
│ ---         ┆ ---      ┆ ---    ┆ ---                ┆   ┆ ---   ┆ ---      ┆ ---      ┆ ---     │
│ i64         ┆ i64      ┆ i64    ┆ str                ┆   ┆ str   ┆ str      ┆ f64      ┆ str     │
╞═════════════╪══════════╪════════╪════════════════════╪═══╪═══════╪══════════╪══════════╪═════════╡
│ 1           ┆ 0        ┆ 3      ┆ Braund, Mr. Owen   ┆ … ┆ null  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Harris             ┆   ┆       ┆          ┆          ┆         │
│ 2           ┆ 1        ┆ 1      ┆ Cumings, Mrs. John ┆ … ┆ C85   ┆ C        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Bradley (Fl…       ┆   ┆       ┆          ┆          ┆         │
│ 3           ┆ 1        ┆ 3      ┆ Heikkinen, Miss.   ┆ … ┆ null  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Laina              ┆   ┆       ┆          ┆          ┆         │
│ 4           ┆ 1        ┆ 1      ┆ Futrelle, Mrs.     ┆ … ┆ C123  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Jacques Heath (…   ┆   ┆       ┆          ┆          ┆         │
│ 5           ┆ 0        ┆ 3      ┆ Allen, Mr. William ┆ … ┆ null  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Henry              ┆   ┆       ┆          ┆          ┆         │
│ …           ┆ …        ┆ …      ┆ …                  ┆ … ┆ …     ┆ …        ┆ …        ┆ …       │
│ 887         ┆ 0        ┆ 2      ┆ Montvila, Rev.     ┆ … ┆ null  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Juozas             ┆   ┆       ┆          ┆          ┆         │
│ 888         ┆ 1        ┆ 1      ┆ Graham, Miss.      ┆ … ┆ B42   ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Margaret Edith     ┆   ┆       ┆          ┆          ┆         │
│ 889         ┆ 0        ┆ 3      ┆ Johnston, Miss.    ┆ … ┆ null  ┆ S        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Catherine Hele…    ┆   ┆       ┆          ┆          ┆         │
│ 890         ┆ 1        ┆ 1      ┆ Behr, Mr. Karl     ┆ … ┆ C148  ┆ C        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Howell             ┆   ┆       ┆          ┆          ┆         │
│ 891         ┆ 0        ┆ 3      ┆ Dooley, Mr.        ┆ … ┆ null  ┆ Q        ┆ 512.3292 ┆ Titanic │
│             ┆          ┆        ┆ Patrick            ┆   ┆       ┆          ┆          ┆         │
└─────────────┴──────────┴────────┴────────────────────┴───┴───────┴──────────┴──────────┴─────────┘